* {
	margin: 0;
	padding: 0;
}
html {
     overflow: -moz-scrollbars-vertical;
	 overflow-y: scroll;
}
body,input,textarea {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	overflow-x: hidden;
}
a {
	color: #0000ff;
	text-decoration: none;
}
p,#content li {
	font-size: 12px;
	line-height: 18px;
	margin: 10px 0 5px 0;
	color: #666;
}
#content li {
	margin: 5px 0;
}
#content ul {
	margin: 10px 0 10px 0;
}
label {
	font-size: 12px;
	line-height: 18px;
	margin: 5px 15px 5px 0;
	color: #666;
	width: 240px;
	float: left;
}
label span  {
	width: 73px;
	display: block;
	float: left;
}
label.label-wide { 
	width: 480px;
}
label.label-wide span { 
	width: 480px;
	display: block;
	margin: 10px 0 7px 0;
}
label.label-wide textarea {
	width: 480px;
	height: 140px;
}
.container {
	width: 836px;
	margin: 0 auto;
	position: relative;
	left: 0;
	top: 0;
}
#header {
	height: 100px;
	background: url(../img/header_rpt.gif) repeat-x;
	position: relative;
	left: 0;
	top: 0;
}
#header p {
	background: #fac900;
	width: 110px;
	height: 25px;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
}
#header p a {
	background: url(../img/request_quote.gif) no-repeat;
	width: 91px;
	height: 12px;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	position: relative;
	left: 9px;
	top: 8px;
}
#header h1 {
	background: url(../img/logo.gif) no-repeat 0 13px;
	width: 177px;
	height: 100px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	left: -10px;
	top: 0;
}
#header h1 a{
	width: 177px;
	height: 100px;
	display: block;
}
#header ul {
	position: absolute;
	left: 180px;
	top: 70px;
	width: 700px;
}
#header li {
	float: left;
	list-style: none;
	height: 30px;
}
#header li a {
	display: block;
	height: 30px;
	text-indent: -9999px;
	overflow: hidden;
}
#nav-home a {
	background: url(../img/nav_home.gif) no-repeat;
	width: 76px;
}
#nav-customers a{
	background: url(../img/nav_customers.gif) no-repeat;
	width: 105px;
}
#nav-partners a {
	background: url(../img/nav_partners.gif) no-repeat;
	width: 91px;
}
#nav-team a {
	background: url(../img/nav_team.gif) no-repeat;
	width: 75px;
}
#nav-technologies a {
	background: url(../img/nav_technologies.gif) no-repeat;
	width: 117px;
}
#nav-contact a {
	background: url(../img/nav_contact.gif) no-repeat;
	width: 105px;
}
#nav-services a {
	background: url(../img/nav_services.gif) no-repeat;
	width: 87px;
}
#header li a:hover {
	background-position: 0 -30px;
}
#header li.selected a {
	background-position: 0 -60px;
}
#feature {
	background: #00005d url(../img/feature_rpt.gif) repeat-x;
	overflow: hidden;
	padding-bottom: 15px;
}
#feature .container {
	background: url(../img/feature_bg.jpg) no-repeat;
	padding-top: 39px;
	width: 939px;
	padding-left: 110px;
}
#feature h2 {
	width: 825px;
	height: 59px;
	background: url(../img/h2_development.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
#feature img {
	position: absolute;
	left: 634px;
	top: 116px;
}
#feature .text {
	width: 500px;
	margin-top: 20px;
}
#feature .text p {
	color: #949494;
}
#feature .text h3 {
	width: 123px;
	height: 22px;
	background: url(../img/h3_whatwedo.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	margin-left: -2px;
}
#feature ul {
	font-size: 12px;
	list-style: none;
	margin: 5px 10px 25px 0;
	width: 330px;
	float: left;
}
#feature li {
	margin: 0 0 2px 0;
	color: #fac900;
	font-weight: bold;
	line-height: 18px;
	background: url(../img/bullet.gif) no-repeat 0 5px;
	padding-left: 13px;
}
#content {
	overflow: auto;
	width: 100%;
	margin-bottom: 30px;
}
#content h2 {
	height: 32px;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 0 25px 0;
}	
#content h2#h2_partners {
	background: url(../img/h2_partners.png) no-repeat;
}
#content h2#h2_team {
	background: url(../img/h2_team.png) no-repeat;
}
#content h2#h2_customers {
	background: url(../img/h2_customers.png) no-repeat;
}
#content h2#h2_technologies {
	background: url(../img/h2_technologies.png) no-repeat;
}
#content h2#h2_contact {
	background: url(../img/h2_contact.png) no-repeat;
}
#content h2#h2_services {
	background: url(../img/h2_services.png) no-repeat;
}
#content h2#h2_quote {
	background: url(../img/h2_quote.png) no-repeat;
}
#content h3 {
	margin-bottom: 15px;
}
#content #left-col {
	width: 195px;
	float: left;
	margin-top: 50px;
}
#content #left-col p {
	font-style: italic;
}
#content #left-col h3,#content #mid-col h3  {
	height: 25px;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 0 13px 0;
}
#content #left-col h3 a {
	display: block;
	height: 25px;
}
#content #left-col #services-nav {
	border-bottom: 1px solid #efefef;
	margin: 20px 0 30px 0;
}
#content #left-col #services-nav li {
	border-top: 1px solid #efefef;
	list-style: none;
	margin: 0;
}
#content #left-col #services-nav li a {
	background: url(../img/services-nav_arrow.png) no-repeat 2px 13px;
	padding-left: 15px;
	color: #666;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	width: 195px;
	display: block;
}
#content #left-col #services-nav li a:hover {
	background: #efefef url(../img/services-nav_arrow.png) no-repeat 2px 13px;
}
#content #left-col h3#h3_contact {
	background: url(../img/h3_contact.png) no-repeat 0 3px;
}
#content #left-col h3#h3_contact_details {
	background: url(../img/h3_contact_details.png) no-repeat 0 3px;
}
#content #left-col h3#h3_what_we_do {
	background: url(../img/h3_what_we_do.png) no-repeat 0 3px;
}
#content #mid-col h3#h3_constitutes {
	background: url(../img/h3_constitutes.png) no-repeat 0 3px;
}
#content #wide-col {
	width: 530px;
	float: left;
	margin: 50px 0 0 47px;
}
#content #wide-col img {
	margin-bottom: 15px;
}
#content #wide-col .button { 
	margin-top: 15px;
}
#content #wide-col li,#content #mid-col li {
	background: url(../img/bullet_blue.png) no-repeat 0 5px;
	list-style: none;
	padding-left: 15px;
}
#content #wide-col ol {
	margin: 10px 0 0 18px;
}
#content #wide-col ol li {
	list-style-type:lower-alpha; 
	background: none;
	padding-left: 0;
}
#content #wide-col h3 {
	color: #666;
	font-size: 20px;
	font-weight: normal;
	margin: 20px 0 15px 0;
}
#content #wide-col h4,#content #left-col h4 {
	color: #666;
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
#content #wide-col .partner,#content #wide-col .customer {
	overflow: hidden;
	border-bottom: 1px solid #efefef;
	padding-top: 15px;
}
#content #wide-col .partner img,#content #wide-col .customer img {
	float: left;
	margin-right: 20px;
	border: 1px solid #ccc;
}
#content #wide-col .partner h3,#content #wide-col .customer h3 {
	font-size: 12px;
	font-weight: bold;
	margin: 0;
}
#content #mid-col {
	width: 370px;
	float: left;
	margin: 50px 0 0 30px;
}
#content #mid-col .date {
	font-weight: bold;
}
#content #right-col {
	float: right;
	width: 215px;
	background: #d6d8d6;
	margin-top: 30px;
}
#content #right-col .mid {
	background: url(../img/right_mid.gif) repeat-x;
	padding: 15px 15px 5px 15px;
}
#content #right-col .head {
	width: 215px;
	height: 4px;
	background: url(../img/right_head.gif) no-repeat;
}
#content #right-col .foot {
	width: 215px;
	height: 4px;
	background: url(../img/right_foot.gif) no-repeat;
}
#h3_partners {
	background: url(../img/h3_partners.png) no-repeat;
	width: 85px;
	height: 22px;
	text-indent: -9999px;
	overflow: hidden;
}
#mid-col h3#h3_latestnews {
	background: url(../img/h3_latestnews.png) no-repeat;
	margin-top: 30px;
}
#h3_clients {
	background: url(../img/h3_clients.png) no-repeat;
	width: 67px;
	height: 22px;
	text-indent: -9999px;
	overflow: hidden;
}
.customers-links a {
	display: block;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	margin-bottom: 14px;
}
.customers-links a.customers_thomson {
	width: 213px;
	height: 78px;
	background: url(../img/customers_thomson_reuters.gif) no-repeat;
	margin-right: 30px;
}
.customers-links a.customers_ebooks {
	width: 148px;
	height: 78px;
	background: url(../img/customers_ebooks.gif) no-repeat;
	margin-right: 30px;
}
.customers-links a.customers_relotracker {
	width: 77px;
	height: 78px;
	background: url(../img/customers_relotracker.gif) no-repeat;
}
.customers-links a.customers_lavna {
	width: 132px;
	height: 64px;
	background: url(../img/customers_lavna.gif) no-repeat;
	margin-right: 30px;
}
.customers-links a.customers_istock {
	width: 136px;
	height: 64px;
	background: url(../img/customers_istock.gif) no-repeat;
	margin-right: 30px;
}
.customers-links a.customers_tnl {
	width: 185px;
	height: 64px;
	background: url(../img/customers_tnl.gif) no-repeat;
}
.name,.company {
	font-weight: bold;
	font-style: normal;
}
.name {
	color: #fac900;
}
#footer {
	width:100%;
	background: #3b3d3d;
	font-size: 10px;
	padding-top: 10px;
}
#footer ul {
	margin-left: -15px;
}
#footer ul,#footer p {
	font-size: 10px;
}
#footer a {
	color: #fac900;
	text-decoration: none;
}
#footer li {
	border-right: 1px solid #666;
	float: left;
	list-style: none;
	padding: 0 15px;
}
#footer li.last {
	border-right: none;
}
#footer p.logo {
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 90px;
}
#footer p.logo a {
	background: url(../img/footer_logo.gif) no-repeat;
	width: 90px;
	height: 34px;
	display: block;
}
#footer p.copy a {
	color: #666;
}
#footer p.copy a:hover {
	color: #fff;
}
.clear {
	clear: both;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 0;
}
.push,#footer {
	height: 70px;
}
select{ width: 133px;}

input[type="text"]{width: 129px;}
#captcha{float: left}
#captchaText {float: left;}
#content #wide-col .error .validation-summary-errors li {color: Red; background: transparent none  repeat  scroll  0% 0%;}
.captcha-wrapper {border-color: white;border-width: 1px;border-style: solid;height: 19px;width: 133px;position: absolute;left: 372px; margin: 45px 0px 0px 10px;}
